body{
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
	font-size: 18px;
    /*line-height: 36px;*/
    font-family: "Open Sans", sans-serif;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0 ,0 ,0, 0.4);
}


.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next{
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev{
	left: 20px;
	background-image: url(../images/icons/prev.png);
}

.slides-navigation a.next{
	right: 20px;
	background-image: url(../images/icons/next.png);
}

.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 5;
	text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p {
	text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    color: white;
    font-weight: 100;
    letter-spacing: 6px;
}

.titleMessage .heading .main {
	font-size: 50px;
}

.titleMessage .heading .sub {
	font-size: 23px;
}

.section {
	padding: 100px 0;
}

.aboutImage {
	max-width: 100%;
}

.aboutText{
	color: #666665;
    font-size: 18px;
    /*line-height: 36px;*/
    font-family: "Open Sans", sans-serif;
    display: block;
}




#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid #dcd9d9;
}
.background-alt {
    background: #f2f2f5;
}
#experience h2 {
    color: #374054;
}
.heading_rem {
    position: relative;
    display: inline-block;
    /*font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;*/

    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
    text-transform: none;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
}
.heading_rem:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 2px;
    width: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #e74c3c;
}
#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #e74c3c;
    z-index: 0;
}
#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1200px;
}
.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}
.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #e74c3c;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;
}
.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 7px;
}
.vtimeline-date {
    width: 270px;
    text-align: left;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 500;
    color: #374054;
    font-size: 14px;
}
.vtimeline-content {
    margin-left: 350px;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 3px;
    text-align: left;
}





#education {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
}
.education-block {
    max-width: 700px;
    margin: 30px auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: left;
}





#projects {
    padding: 50px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
}
#projects h2 {
    color: #374054;
    margin-bottom: 50px;
    text-align: center;
}
.project {
    position: relative;
    max-width: 1300px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
}
.shadow-large {
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
}
.project-image {
    float: left;
}
.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 300px;
    padding: 15px;
}
.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    margin: 0 0 15px 0;
}
#projects .container .row{
	display: block;
}
/*.project-info p{
	margin: 0 0 15px 0;
}*/






.skillsSection{
	background-color: #e74c3c;
	color: #fff;
}

.skill{
	text-align: center;
	margin-left: 10px;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	text-align: center;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .percent{
	color: #000;
	line-height: 152px;
	display: inline-block;
	font-size: 35px;
}

.chart .percent:after {
	content: '%';
}

.dark-bg {
    background: #ecf0f1;
}

.section-padding {
    padding: 90px 0 100px
}

.contact-wrap {
    position: relative;
}




section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
    text-transform: none;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
}
section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.contact-details {
    margin: 0 0 30px;
}
.contact-details h2 {
    font-size: 20px;
}
.contact-details h2 span {
    display: block;
    /*color: #3dc9b3;*/
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

.contact-details p a {
	font-size: 15px;
	letter-spacing: 1px;
	color: #34495e;
}



.light-box {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px #e74c3c;
    -moz-box-shadow: 0px 3px 0px 0px #e74c3c;
    box-shadow: 0px 1px 0px 0px #e74c3c;
    padding: 20px 50px 20px 20px !important;
}
.light-box:hover, .light-box:focus {
    -webkit-box-shadow: 0px 3px 0px 0px #e74c3c;
    -moz-box-shadow: 0px 3px 0px 0px #e74c3c;
    box-shadow: 0px 3px 0px 0px #e74c3c;
}



.box-hover {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.box-hover:hover, .box-hover:focus {
    transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
}


ul.social-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.social-buttons li {
    display: inline-block;
    margin-right: 10px;
}
ul.social-buttons li:last-child {
    margin-right: 0;
}

.social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: #242830;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
}
.social-btn:hover, .social-btn:focus {
    background: #e74c3c;
    color: #fff;
}

.copyrightSection{
	background-color: #000;
	color : #fff;
	padding: 30px 5px;
	font-size: 15px;
	line-height: 50px;
}

.copyrightSection p{
	margin: 0;
}

#navigation {
	background-color: #e74c3c;
	padding: 5px 10px;
	z-index: 100;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a{
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover{
	color: #fff;
}

.navbar-toggler-icon{
	background: url(../images/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation{
	position: fixed;
	top: 0;
}

.loader{
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner{
	width: 100%;
	height: 100%;
	background: url(../images/loader.gif) center center no-repeat;
}









​


